{{!-- {{#each user as |xValue xKey|}}
  <p>{{@key}}:{{this}}</p>
  {{#each xValue/language as |yValue yKey|}}
    <p>{{yValue}}</p>
  {{/each}}
{{/each}} --}}

{{#each user as |key value|}}
  <p>{{log this}}</p>
{{/each}}

{{!-- {{#each language}}
  <p>{{@key}}:{{this}}</p>
{{/each}} --}}

{{!-- <p>{{lookup user 'name'}}</p>
<p>{{lookup user 'capital'}}</p>
<p>{{lookup user 'language'}}</p> --}}

{{!-- {{#with user as |x|}}
  <p>{{x.name}}</p>
  {{#each x.language}}
    <p>{{this}}</p>
  {{/each}}
{{/with}} --}}

{{#with user}}
  {{#each language}}
    <p>{{this}}</p>
  {{/each}}
{{/with}}